# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# top-most EditorConfig file
root = true

###############################
# .NET Coding Conventions     #
###############################
[*.cs]
# Organize usings
dotnet_sort_system_directives_first = true
indent_style = space
indent_size = 4
insert_final_newline = true
